[submodule "src/InfiniTAM"]
	path = src/InfiniTAM
	url = https://github.com/AndreiBarsan/InfiniTAM
[submodule "src/Pangolin"]
	path = src/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "src/gflags"]
	path = src/gflags
	url = https://github.com/gflags/gflags
