[submodule "src/InfiniTAM"]
	path = src/InfiniTAM
	url = https://github.com/AndreiBarsan/InfiniTAM
[submodule "src/Pangolin"]
	path = src/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "src/gflags"]
	path = src/gflags
	url = https://github.com/gflags/gflags
[submodule "src/pfmLib"]
	path = src/pfmLib
	url = https://github.com/AndreiBarsan/pfmLib
[submodule "src/libviso2"]
	path = src/libviso2
	url = https://github.com/AndreiBarsan/libviso2-mirror
[submodule "src/eigen"]
	path = src/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "src/Sophus"]
	path = src/Sophus
	url = https://github.com/strasdat/Sophus
[submodule "preprocessing/dispnet-flownet-docker"]
	path = preprocessing/dispnet-flownet-docker
	url = https://github.com/AndreiBarsan/dispnet-flownet-docker
[submodule "preprocessing/MNC"]
	path = preprocessing/MNC
	url = https://github.com/AndreiBarsan/MNC
